USE [master]
GO
/****** Object:  Database [megacitycab]    Script Date: 13/03/2025 8:29:56 PM ******/
CREATE DATABASE [megacitycab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'megacitycab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\megacitycab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'megacitycab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\megacitycab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [megacitycab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [megacitycab]
GO
/****** Object:  Table [dbo].[AdminBanks]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminBanks](
	[bank_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[bank_name] [nvarchar](100) NOT NULL,
	[account_number] [nvarchar](50) NOT NULL,
	[account_holder] [nvarchar](100) NOT NULL,
	[branch] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bank_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[adminId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[admin_name] [nvarchar](50) NOT NULL,
	[password] [nvarchar](500) NOT NULL,
	[salt] [nvarchar](255) NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminTransactions]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminTransactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[description] [nvarchar](255) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminWallet]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminWallet](
	[wallet_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[balance] [decimal](18, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[passenger_id] [int] NOT NULL,
	[vehicle_type] [varchar](50) NOT NULL,
	[pickup_location] [varchar](255) NOT NULL,
	[dropoff_location] [varchar](255) NOT NULL,
	[booking_datetime] [datetime] NOT NULL,
	[payment_method] [varchar](50) NOT NULL,
	[hire_fee] [decimal](10, 2) NULL,
	[status] [nvarchar](50) NOT NULL,
	[driver_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[card_id] [int] IDENTITY(1,1) NOT NULL,
	[passenger_id] [int] NOT NULL,
	[card_number] [nvarchar](20) NOT NULL,
	[cardholder_name] [nvarchar](100) NOT NULL,
	[expiry_date] [nvarchar](5) NOT NULL,
	[cvc] [nvarchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driver_banks]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driver_banks](
	[bank_id] [int] IDENTITY(1,1) NOT NULL,
	[driver_id] [int] NOT NULL,
	[bank_name] [nvarchar](100) NOT NULL,
	[account_number] [nvarchar](50) NOT NULL,
	[account_holder_name] [nvarchar](100) NOT NULL,
	[ifsc_code] [nvarchar](20) NOT NULL,
	[is_default] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bank_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driver_cards]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driver_cards](
	[card_id] [int] IDENTITY(1,1) NOT NULL,
	[driver_id] [int] NOT NULL,
	[card_number] [nvarchar](19) NOT NULL,
	[expiry_date] [nvarchar](5) NOT NULL,
	[cvv] [nvarchar](3) NOT NULL,
	[cardholder_name] [nvarchar](100) NOT NULL,
	[is_default] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driver_transaction]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driver_transaction](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[driver_id] [int] NOT NULL,
	[transaction_type] [nvarchar](20) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[description] [nvarchar](255) NULL,
	[date_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driver_wallet]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driver_wallet](
	[driver_id] [int] NOT NULL,
	[wallet_balance] [decimal](12, 2) NOT NULL,
	[total_earnings] [decimal](12, 2) NOT NULL,
	[total_expenses] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[driver_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](150) NULL,
	[password] [nvarchar](500) NULL,
	[license_no] [nvarchar](150) NULL,
	[vehicle_type] [nvarchar](150) NULL,
	[salt] [nvarchar](255) NULL,
	[status] [nvarchar](40) NOT NULL,
	[vehicle_number] [nvarchar](20) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passengers]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passengers](
	[passenger_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[password] [nvarchar](500) NOT NULL,
	[nic] [nvarchar](50) NOT NULL,
	[address] [nvarchar](500) NOT NULL,
	[salt] [nvarchar](255) NULL,
 CONSTRAINT [PK_Passengers] PRIMARY KEY CLUSTERED 
(
	[passenger_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[passenger_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[transaction_type] [nvarchar](10) NULL,
	[description] [nvarchar](255) NOT NULL,
	[date_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plate_number] [nvarchar](50) NOT NULL,
	[vehicle_type] [nvarchar](20) NOT NULL,
	[passenger_capacity] [int] NOT NULL,
	[brand] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
	[status] [nvarchar](80) NULL,
	[driver_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 13/03/2025 8:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[passenger_id] [int] NOT NULL,
	[balance] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[passenger_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminBanks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AdminBanks] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[AdminTransactions] ADD  DEFAULT ('COMPLETED') FOR [status]
GO
ALTER TABLE [dbo].[AdminTransactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AdminWallet] ADD  DEFAULT ((0.00)) FOR [balance]
GO
ALTER TABLE [dbo].[AdminWallet] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AdminWallet] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[driver_banks] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[driver_cards] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[driver_transaction] ADD  DEFAULT (getdate()) FOR [date_time]
GO
ALTER TABLE [dbo].[driver_wallet] ADD  DEFAULT ((0.00)) FOR [wallet_balance]
GO
ALTER TABLE [dbo].[driver_wallet] ADD  DEFAULT ((0.00)) FOR [total_earnings]
GO
ALTER TABLE [dbo].[driver_wallet] ADD  DEFAULT ((0.00)) FOR [total_expenses]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT ('offline') FOR [status]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [date_time]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ('Unassigned') FOR [status]
GO
ALTER TABLE [dbo].[AdminBanks]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admins] ([adminId])
GO
ALTER TABLE [dbo].[AdminTransactions]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admins] ([adminId])
GO
ALTER TABLE [dbo].[AdminWallet]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admins] ([adminId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([passenger_id])
REFERENCES [dbo].[Passengers] ([passenger_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Drivers] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Drivers]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_Passenger_Card] FOREIGN KEY([passenger_id])
REFERENCES [dbo].[Passengers] ([passenger_id])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_Passenger_Card]
GO
ALTER TABLE [dbo].[driver_banks]  WITH CHECK ADD  CONSTRAINT [fk_bank_driver_id] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[driver_banks] CHECK CONSTRAINT [fk_bank_driver_id]
GO
ALTER TABLE [dbo].[driver_cards]  WITH CHECK ADD  CONSTRAINT [fk_card_driver_id] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[driver_cards] CHECK CONSTRAINT [fk_card_driver_id]
GO
ALTER TABLE [dbo].[driver_transaction]  WITH CHECK ADD  CONSTRAINT [fk_transaction_driver_id] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[driver_transaction] CHECK CONSTRAINT [fk_transaction_driver_id]
GO
ALTER TABLE [dbo].[driver_wallet]  WITH CHECK ADD  CONSTRAINT [fk_driver_id] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[driver_wallet] CHECK CONSTRAINT [fk_driver_id]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Passenger_Transaction] FOREIGN KEY([passenger_id])
REFERENCES [dbo].[Passengers] ([passenger_id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Passenger_Transaction]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[Wallet]  WITH CHECK ADD  CONSTRAINT [FK_Passenger_Wallet] FOREIGN KEY([passenger_id])
REFERENCES [dbo].[Passengers] ([passenger_id])
GO
ALTER TABLE [dbo].[Wallet] CHECK CONSTRAINT [FK_Passenger_Wallet]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([status]='ended' OR [status]='assigned' OR [status]='pending'))
GO
ALTER TABLE [dbo].[driver_transaction]  WITH CHECK ADD CHECK  (([transaction_type]='Expense' OR [transaction_type]='Withdrawal' OR [transaction_type]='Ride Earnings' OR [transaction_type]='Top Up'))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([transaction_type]='Expense' OR [transaction_type]='Top-Up'))
GO
USE [master]
GO
